/* src/components/Feedback.css */
.feedback-list {
    list-style-type: none;
    padding: 0;
  }
  
  .feedback-item {
    padding: 10px 0;
    border-bottom: 1px solid #33334d;
  }
  
  .feedback-item strong {
    display: block;
    margin-bottom: 5px;
  }
  
  .feedback-item div {
    color: gold;
    margin-bottom: 5px;
  }
  
  .feedback-item p {
    margin: 0;
  }
  